@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

// apply fonts
$fontFamily: "Nunito", sans-serif;
body,
* {
  font-family: $fontFamily !important;
}

// 
.linear-wipe-text {
  $color1: theme('colors.blue.500');
  $color2: theme('colors.purple.500');
  background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 20s ease infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
.linear-wipe {
  $color1: theme('colors.blue.500');
  $color2: theme('colors.purple.500');
  background: linear-gradient(to right, $color1 20%, $color2 40%, $color2 60%, $color1 80%);
  background-size: 400% auto;
  animation: shine 20s ease infinite;
  @keyframes shine {
    to {
      background-position: 400% center;
    }
  }
}

// shapes
.triangle-shape {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid theme('colors.gray.900');
  transform: translate(-15rem, -6rem) rotate(45deg);
}
.dark {
  .triangle-shape {
    border-bottom-color: #fff;
  }
}